In [1]:
#Dependencies and setup
import pandas as pd

#csv file
csv_file = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(csv_file)

In [2]:
#Total number of players
Total_players = len(purchase_data["SN"].value_counts())

#Display Data frame with Total # of players
numberof_players = pd.DataFrame({"Total Players":[Total_players]})
numberof_players.head()

   Total Players
0            576

In [3]:
#Purchasing Analysis = # of Unique Items, Average Price, Purchase Count, Revenue. 
unique_items = len(purchase_data["Item ID"].unique())
total_purchases = purchase_data["Purchase ID"].count()
revenue = purchase_data["Price"].sum()
average = purchase_data["Price"].mean()

#Data  frame of the results
total_purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": unique_items,
                                             "Number of Purchases": [total_purchases],
                                             "Total Revenue": [revenue],
                                             "Average Price":[average]})

#conditional formatting = $
total_purchasing_analysis_df.style.format({"Average Price":"${:,.2f}",
                                           "Total Revenue":"${:,.2f}"})

In [4]:
#Gender Demographics: Percentage and count of Male, Female, Other players
gender_data = purchase_data.groupby("Gender")
gender_count = gender_data.nunique()["SN"]
percentage_players_bygender = gender_count / Total_players * 100

#Data frame with results
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_players_bygender, "Total Count": gender_count})

#formatting: skip index name, sorted values in descending order
gender_demographics.index.name = None

gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [5]:
#Purchasing analysis classified by Gender: Purchase count, Average price, total purchase value, and average purchase by gender. 
gender_purchase_count = gender_data["Purchase ID"].count()

avg_price_purchase = gender_data["Price"].mean()

avg_price_total = gender_data["Price"].sum()

avg_purchase = avg_price_total / gender_count

#Data Frame with results
gender_demographics = pd.DataFrame({"Purchase Count": gender_purchase_count,
                                    "Average Purchase Price": avg_price_purchase,
                                    "Average Purchase Value": avg_price_total,
                                    "Average Purchase Total (Person)": avg_purchase})

#index "gender" 
gender_demographics.index.name = "Gender"

#format = $
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Average Purchase Total (Person)":"${:,.2f}"})

In [6]:
#Age Demographics: Percentage of players, total count. 
#Set up bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_range = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#sort age values into bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_range)
purchase_data.head()


#Data frame = adding "Age Group"
age_groups = purchase_data.groupby("Age Group")

#Total count by age
age_total_count = age_groups["SN"].nunique()

#Percentages by age
age_percentage = (age_total_count/Total_players) * 100

#Data Frame with Results
age_demographics = pd.DataFrame({"Percentage of Players": age_percentage, "Total Count": age_total_count})

#Format = no index name top left, percentage round to two decimal places
age_demographics.index.name = None

age_demographics.style.format({"Percentage of Players":"${:,.2f}"})

In [7]:
#Purchasing Analysis (Age) = purchase count, Avf. Purchase price, Total Purchase Value, Avg. Purchase per person by Age Group

age_purchase_count = age_groups["Purchase ID"].count()

age_avg_purchase_price = age_groups["Price"].mean()

age_total_purchase = age_groups["Price"].sum()

age_avg_per_person = age_total_purchase / age_total_count

#Data Frame with results

age_demographics = pd.DataFrame({"Purchase Count": age_purchase_count,
                                 "Average Purchase Price": age_avg_purchase_price,
                                 "Total Purchase Value": age_total_purchase,
                                 "Average Purchase Total (Person/Age)": age_avg_per_person})

#Format = no index top left corner, $
age_demographics.index.name = None
age_demographics.style.format({"Average Purchase Price":"${:,.2f}", 
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total (Person/Age)":"${:,.2f}"})

In [23]:
#Top Spenders: TOP 5, Screen name, Purchase Count, Avg Purchase price, Total Purchase

top_spenders = purchase_data.groupby("SN")

spenders_purchase_count = top_spenders["Purchase ID"].count()

spenders_avg_purchase = top_spenders["Price"].mean()

spenders_total_purchase = top_spenders["Price"].sum()

#Data Frame with results

top_total_spenders = pd.DataFrame({"Purchase Count": spenders_purchase_count,
                                   "Average Purchase Price": spenders_avg_purchase,
                                   "Total Purchase Value": spenders_total_purchase})

#Sort in descending order

T_spenders = top_total_spenders.sort_values(["Total Purchase Value"], ascending = False).head()

#formatting = $

T_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                         "Average Purchase Price":"${:,.2f}",
                         "Total Purchase Value":"${:,.2f}"})

In [22]:
#Most Popular Items: Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value

#Determine items data frame, classified items 
itemsDF = purchase_data[["Item ID", "Item Name", "Price"]]

purchase_data.head()

items_data = itemsDF.groupby(["Item ID", "Item Name"])

#Count purchased items, detemine value per item

itemsDF_count = items_data["Price"].count()
itemsDF_value = (items_data["Price"].sum())
items_price = itemsDF_value/itemsDF_count

#Data Frame with results

popular_items = pd.DataFrame({"Purchase Count": itemsDF_count,
                             "Item Price": items_price,
                             "Total Purchase Value": itemsDF_value})

#Format = $, Sort by descending order
T_popular = popular_items.sort_values(["Purchase Count"], ascending = False).head()

# T_popular = popular_items[["Item Price", "Total Purchase Value"]]

#popular_items.head()
T_popular.style.format({"Item Price":"${:,.2f}",
                       "Total Purchase Value":"${:,.2f}"})

In [18]:
#Most Profitable Items: Top 5, Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value

most_profitable_items = popular_items.sort_values(["Total Purchase Value"], ascending = False).head()

most_profitable_items.style.format({"Item Price:":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}"})